@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900;800&display=swap");

@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

/* header */
header {
  position: absolute;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid #423940;
  padding: 0px 15px;
  z-index: 10;
}
header .fixed {
  color: #ffffff;
}
header .row {
  justify-content: space-between;
  align-items: center;
}

header .brand-name a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}

header .navbar ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

header .navbar ul li {
  display: inline-block;
  margin-left: 35px;
}
header .navbar ul li a {
  font-size: 15px;
  text-decoration: none;
  line-height: 72px;
  color: #ffffff;
  display: block;
  font-weight: 600;
  position: relative;
}

header .navbar ul li a::before {
  content: "";
  height: 3px;
  background-color: #ffffff;
  width: 0%;
  position: absolute;
  right: 0px;
  bottom: -1px;
  transition: all 0.5s ease;
}
header .navbar ul li a:hover::before {
  width: 100%;
  left: 0px;
}
header .navbar ul li a.active::before {
  width: 100%;
  left: 0px;
}

/* home part */
.home {
  min-height: 100vh;
  background-image: url("images/img1.jpg");
  background-position: center;
  background-size: cover;
  padding: 15px;
}

.home .full-screen {
  min-height: 100vh;
}

.home .home-content {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.home .home-content .block {
  flex: 0 0 75%;
  max-width: 75%;
  padding-left: 35px;
  border-left: 5px solid #ffffff;
  margin-top: 50px;
}

.home .home-content .block h6 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.home .home-content .block h1 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.home .home-content .block h3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.home .home-content .block .cv-btn {
  padding-top: 20px;
}

.home .home-content .block .cv-btn a {
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 12px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s ease;
  background-color: transparent;
}

.home .home-content .block .cv-btn a:hover {
  background-color: darkorange;
  color: #000000;
}

/* about part */

.about-me {
  padding: 100px 15px;
  background-color: #ffffff;
}

.about-me .section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.about-me .section-title h1 {
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700px;
  color: #000000;
  margin: 0 0 10px;
  position: relative;
  padding-bottom: 5px;
}

.about-me .section-title h1:before {
  content: "";
  left: 0;
  position: absolute;
  height: 2px;
  right: 30%;
  background-color: #febd01;
  bottom: 0px;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.about-me .section-title p.small {
  display: block;
  font-size: 14px;
  color: #838383;
  font-weight: 400px;
  letter-spacing: 2px;
}

.about-me .about-content .img {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.about-me .about-content .img img {
  width: 100%;
  display: block;
  transform: rotate();
}

.about-me .about-content .text {
  flex: 0 0 66.66%;
  max-width: 66.66%;
  padding-left: 30px;
}

.about-me .about-content .text h4 {
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 5px;
  color: #000000;
}

.about-me .about-content .text h6 {
  font-size: 25px;
  font-weight: 500;
  margin: 0 0 15px;
  color: #000000;
}

.about-me .about-content .text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #838383;
}

.about-me .about-content .text .social-links {
  padding-top: 80px;
}

.about-me .about-content .text .social-links a {
  height: 30px;
  width: 30px;
  background-color: #000000;
  border-radius: 3px;
  display: inline-block;
  border: 1px solid #000000;
  line-height: 28px;
  text-align: center;
  margin: 0 1px;
  -wibkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.about-me .about-content .text .social-links a:hover {
  background-color: transparent;
}

.about-me .about-content .text .social-links a .fa {
  color: #ffffff;
  font-size: 12px;
  -wibkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.about-me .about-content .text .social-links a:hover .fa {
  color: #000000;
}

/* skills */
.skills {
  padding: 100px 15px;
  background-color: #e7e3e3;
}
.skills .skills-content .align-items-center {
  left: 45%;
  display: inline-block;
  line-height: 28px;
  text-align: center;
  margin: 0 1px;
  position: relative;
  -wibkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.skills .skills-content {
  flex: 15% 15% 70%;
  left: 20%;
  max-width: 70%;
  padding-right: 50px;
}
.skills-content .section-title {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.skills-content .section-title h1 {
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700px;
  color: #000000;
  margin: 0 0 10px;
  position: relative;
  padding-bottom: 5px;
}
.skills-content .section-title h1:before {
  content: "";
  left: 60px;
  position: absolute;
  height: 2px;
  right: 30%;
  background-color: #febd01;
  bottom: 0px;
}

.align-items-center {
  align-content: center;
}

.skills .skills-content .section-title p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #838383;
  margin: 15px 0 20px;
}

.skills .skills-content .skill-box {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 15px;
}
.skills .skills-content .skill-box h6 {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  margin: 0 0 8px;
}
.skills .skills-content .skill-box .skill-bar {
  height: 6px;
  background-color: #eeeeee;
  position: relative;
}

.skills .skills-content .skill-box .skill-bar-in {
  background-color: #febd01;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.skills .skills-content .skill-box .skill-bar-in span {
  color: #838383;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 0;
  top: -30px;
}

.blogs {
  text-align: center;
  padding: 100px 15px;
  background-color: #ffffff;
}

.blogs .section-title h1::before {
  left: 30%;
  text-align: center;
}
.blogs .section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.blogs .section-title h1 {
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700px;
  color: #000000;
  margin: 0 0 10px;
  position: relative;
  padding-bottom: 5px;
}
.blogs .section-title h1:before {
  content: "";

  position: absolute;
  height: 2px;
  right: 30%;
  background-color: #febd01;
  bottom: 0px;
}
.blogs .blogs-content {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blogs .blogs-content .box {
  background-color: #ffffff;
  flex: 0 0 calc(33.33% -20px);
  max-width: calc(33.33% -20px);
}

.blogs .blogs-content .box .img {
  overflow: hidden;
}
.blogs .blogs-content .box .img .img {
  width: 100%;
  display: block;
  transition: all 0.5s ease;
}

.blogs .blogs-content .box:hover .img img {
  transform: scale(1.1);
}
.blogs .blogs-content .box .info {
  padding: 10px 0;
}

.blogs .blogs-content .box .info span {
  font-size: 12px;
  color: #838383;
  display: inline-block;
}
.blogs .blogs-content .box .info span:nth-child(2) {
  border-left: 1px solid #dddddd;
  padding-left: 8px;
  margin-left: 10px;
}
.blogs .blogs-content .box h3 {
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  margin: 0 0 10px;
  padding: 0;
}

.blogs .blogs-content .box p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #883388;
  margin: 0 0 10px;
}

.blogs .blogs-content .box a {
  font-size: 14px;
  font-weight: 600;
  color: #febd01;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid #febd01;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blogs .blogs-content .box a:hover {
  color: #000000;
  border-color: #000000;
}

/* contact */

.contact-us {
  padding: 100px 15px;
  background-color: #e9ebf0;
}
.contact-us .section-title h1:before {
  left: 30%;
}
.contact-us .section-title {
  text-align: center;
}

.contact-us .contact-form {
  background-color: #d5d5dd;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0px;
  border: 1px solid #eeeeee;
}
.contact-uss .contact-form .text {
  flex: 0 0 100%;
  max-width: 100%;
  padding-bottom: 20px;
}
.contact-us .contact-form .text h2 {
  font-size: 25px;
  font-weight: 600;
  color: #000000;
  margin: 0;
  padding: 0;
}
.contact-us .section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.contact-us .section-title h1 {
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700px;
  color: #000000;
  margin: 0 0 10px;
  position: relative;
  padding-bottom: 5px;
}
.contact-us .section-title h1:before {
  content: "";
  position: absolute;
  height: 2px;
  right: 30%;
  background-color: #febd01;
  bottom: 0px;
}
.contact-us .contact-form .text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #883388;
  margin: 0px;
}
.contact-us .contact-form .space-between {
  justify-content: space-between;
}

.contact-us .contact-form .col-6 {
  background-color: #d5d5dd;
  flex: 0 0 calc(50% - 15px);
  max-width: calc(50% - 15px);
}

.contact-us .contact-form .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact-us .contact-form .form-control {
  height: 45px;

  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.contact-us .contact-form textarea.form-control {
  height: 140px;
}

.contact-us .contact-form .form-control::placeholder {
  color: #838383;
}

.contact-us .contact-form .button {
  flex: 0 10 100%;
  max-width: 100%;
  position: relative;
}
.contact-us .contact-form .button a {
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 12px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s ease;
  background-color: #febd01;
  box-shadow: 0 0 10px #e8e8e8;
  border: none;
}
.contact-us .contact-form .button a.hover {
  background-color: #000000;
  color: #ffffff;
}

/* footer */

footer {
  padding: 25px 5px;
  background-color: #0c0c17;
}
footer .name {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 45px;
  font-weight: 800;
}

footer .social {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  padding-top: 15px;
}
footer .social a {
  color: #999999;
  text-decoration: none;
  display: inline-block;
  margin: 0px 12px;
  transition: all 0.5s ease;
  text-decoration: none;
}

footer .social a:hover {
  color: #ffffff;
}

.copyright {
  background-color: #0c0c17;
  border-top: 1px solid #1d1d27;
  padding: 10px;
}
.copyright p {
  color: #838383;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}
